nav {
  background-color: rgb(158, 131, 115);
}

nav ul {
  margin-top: 0px;
  display: flex;
  padding: 10px;
  list-style: none;
}

nav ul li {
  padding: 30px;
}
*{
  background-color: #343a40;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
}
.title{
  margin-left: 800px;
}
.title {
  width:10px;
  margin:0px auto;
  
}
p {
  font-size:35px;
  font-family: sans-serif;
  color: #fff;
  margin-left:580px;
  
}
.seasonNum,.episodeNum {
  font-size:16px;
  display:inline-block;
  position: absolute;
  margin-left:35px;
  margin-top: -10px;
  background: none;
}
.episodeNum {
  margin-left:40px;
  margin-top: -10px;
}
.bad {
  margin-left: 750px;
}
.B {
  padding:5px 8px;
  background:green;
  border:3px solid #fff;
  width:200px;
  height:200px;
  background: #46a08c; /* Old browsers */
background: -webkit-linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
background: -moz-linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
background: -o-linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
background: linear-gradient(130deg, #46a08c 0%, #1C3F1D 100%, #303030 90%);
   box-shadow:inset 0px 2px 2px rgba(50,50,50,.6);  
}
.br {
  padding:5px 8px;

 
}